.post-actions {
    display: flex;
    color:rgb(92, 92, 92);
    padding-left: 12px;
}

.post-actions-action {
    display: flex;
    padding:12px;
    align-items: center;
}

.post-actions-action:hover {
    background: whitesmoke;
    cursor: pointer;
}

.post-actions-action h5 {
    padding-left: 4px;
}
