.home-page-nav{
    padding: 8px 16vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-page-nav__logo a{
    text-decoration: none;
    font-weight: bold;
    color: rgb(0, 0, 255);
    font-size: 25px;
}